body { 
  background-color:#000000; 
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: lighter;
  font-size: 0.80em;
  line-height: 150%;
  color: #FFFFFF;
}

object { outline:none; }

#cont {
  position: relative;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 15px;
  padding: 0px;
}

#pagebg {
  background-color:#000000;
  margin: 0px;
}

#page_table {border: none; padding: 0px; border-collapse:collapse; }
#td_menu {
  width: 200px;
  padding-top: 195px;
  background: #343434;
}
#td_page {
  width: 662px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 190px;
  padding-bottom: 50px;
  background: #4D4D4D url('../images/v2/br_round.png') no-repeat bottom right;
}

.content_tab {
  vertical-align: top;
  border: none; 
  padding: 0px; 
  border-collapse:collapse;
  margin-left: -20px;
  margin-top: 20px;
}
.content_td1 {
  padding-bottom: 20px;
}
.content_td2 {
  padding-bottom: 20px;
  border-left:3px solid #8F8F8F;
}
.content_td3 {
  padding-right: 10px;
  padding-bottom: 20px;
  text-align: left;
}
.content_td4 {
  padding-left: 20px;
  padding-right: 5px;
  border-left:3px solid #8F8F8F;
  padding-bottom: 20px;
  text-align: left;
}
.address_text {color: #66CCCC; padding-left: 15px; }




#TwoE_logo {
  position: absolute;
  left: 78px;
  right: auto;
  top: 0px;
}
#video {
  position: relative;
  left: -220px;
}

#footer {
  clear: both;
  text-align: center;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.90em;
  width: 736px;
  color: #999999;
  background: url('../images/v2/footerbg.png') no-repeat 0px 0px; 
}

.inlinepic {
  float: right;
}


h1, h2, h3, h4 {
  color: #98A3AB;
}

h1 {
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
}
h2 {
  font-size: 1.4em;
  text-transform: uppercase;
}

.blueish {
color: #3399CC;
}

td {vertical-align: top}

a {
  color: #3399CC;
  text-decoration:none;
}
a:hover {
  color: #FFFFFF;
}
#menubar {font-size: 35px; padding-left: 25px; line-height: 0px; padding-bottom: 30px}
.small_menu {font-size: 0.35em;  vertical-align: 10px }

a.b1  {color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_1_OFF.png') no-repeat 0px 0px; }
a.b2  {color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_2_OFF.png') no-repeat 0px 0px; }
a.b3  {color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_3_OFF.png') no-repeat 0px 0px; }
a.b4  {color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_4_OFF.png') no-repeat 0px 0px; }
a.b5  {color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_5_OFF.png') no-repeat 0px 0px; }
a.b6  {color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_6_OFF.png') no-repeat 0px 0px; }
a.b7  {color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_7_OFF.png') no-repeat 0px 0px; }
a.b8  {color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_8_OFF.png') no-repeat 0px 0px; }
a.b9  {color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_9_OFF.png') no-repeat 0px 0px; }
a.b10  {color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_10_OFF.png') no-repeat 0px 0px; }
a.b11  {color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_11_OFF.png') no-repeat 0px 0px; }

a.b1:hover {color: #ff6630; background: url('../images/v2/button_1_ON.png') no-repeat 0px 0px; }
a.b2:hover {color: #99ff66; background: url('../images/v2/button_2_ON.png') no-repeat 0px 0px; }
a.b3:hover {color: #cc3333; background: url('../images/v2/button_3_ON.png') no-repeat 0px 0px; }
a.b4:hover {color: #339999; background: url('../images/v2/button_4_ON.png') no-repeat 0px 0px; }
a.b5:hover {color: #ffcc00; background: url('../images/v2/button_5_ON.png') no-repeat 0px 0px; }
a.b6:hover {color: #cc3399; background: url('../images/v2/button_6_ON.png') no-repeat 0px 0px; }
a.b7:hover {color: #9966cc; background: url('../images/v2/button_7_ON.png') no-repeat 0px 0px; }
a.b8:hover {color: #ffffff; background: url('../images/v2/button_8_ON.png') no-repeat 0px 0px; }
a.b9:hover {color: #ffffff; background: url('../images/v2/button_9_ON.png') no-repeat 0px 0px; }
a.b10:hover {color: #ffffff; background: url('../images/v2/button_10_ON.png') no-repeat 0px 0px; }
a.b11:hover {color: #ffffff; background: url('../images/v2/button_11_ON.png') no-repeat 0px 0px; }

a.b1ON{color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_1_ON.png') no-repeat 0px 0px; }
a.b2ON{color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_2_ON.png') no-repeat 0px 0px; }
a.b3ON{color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_3_ON.png') no-repeat 0px 0px; }
a.b4ON{color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_4_ON.png') no-repeat 0px 0px; }
a.b5ON{color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_5_ON.png') no-repeat 0px 0px; }
a.b6ON{color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_6_ON.png') no-repeat 0px 0px; }
a.b7ON{color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_7_ON.png') no-repeat 0px 0px; }
a.b8ON{color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_8_ON.png') no-repeat 0px 0px; }
a.b9ON{color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_9_ON.png') no-repeat 0px 0px; }
a.b10ON{color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_10_ON.png') no-repeat 0px 0px; }
a.b11ON{color: #FFFFFF; text-decoration:none; background: url('../images/v2/button_11_ON.png') no-repeat 0px 0px; }

a.b1ON:hover {color: #ff6630; background: url('../images/v2/button_1_ON.png') no-repeat 0px 0px; }
a.b2ON:hover {color: #99ff66; background: url('../images/v2/button_2_ON.png') no-repeat 0px 0px; }
a.b3ON:hover {color: #cc3333; background: url('../images/v2/button_3_ON.png') no-repeat 0px 0px; }
a.b4ON:hover {color: #339999; background: url('../images/v2/button_4_ON.png') no-repeat 0px 0px; }
a.b5ON:hover {color: #ffcc00; background: url('../images/v2/button_5_ON.png') no-repeat 0px 0px; }
a.b6ON:hover {color: #cc3399; background: url('../images/v2/button_6_ON.png') no-repeat 0px 0px; }
a.b7ON:hover {color: #9966cc; background: url('../images/v2/button_7_ON.png') no-repeat 0px 0px; }
a.b8ON:hover {color: #ffffff; background: url('../images/v2/button_8_ON.png') no-repeat 0px 0px; }
a.b9ON:hover {color: #ffffff; background: url('../images/v2/button_9_ON.png') no-repeat 0px 0px; }
a.b10ON:hover {color: #ffffff; background: url('../images/v2/button_10_ON.png') no-repeat 0px 0px; }
a.b11ON:hover {color: #ffffff; background: url('../images/v2/button_11_ON.png') no-repeat 0px 0px; }

.indenttext {
  padding-left: 45px;
 }

#dek {
  position: absolute;
  visibility: hidden;
  z-index: 200;
}

.pngInline {
       position: relative;
       behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
       this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
       this.src = "../images/v2/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
       this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
       this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}

.imgwithborder {border:1px #DDDDDD solid; padding: 8px}

.imgwithborderSpace {border:1px #DDDDDD solid; margin: 0px 0px 10px 20px}

.imgSpace {	margin-left:15px;	margin-top:0px;}